.hero-img img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.datos {
  padding: 3rem 1rem;
  background-color: $color-light;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      background-color: $color-accent;
      margin: 10px auto 0;
      border-radius: 2px;
    }
  }

  .datos-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
    max-width: 300px;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.95rem;
      color: #333;
    }
  }
}